##################
### General
##################
.DS_Store
/vendor


##################
### TYPO3
##################
/htdocs/typo3
/htdocs/typo3conf/ext
/htdocs/typo3temp
/htdocs/uploads

# Extension bsdist
!/htdocs/fileadmin/bsdist
!/htdocs/fileadmin/files
