##################
### General
##################
.DS_Store
vendor/


##################
### TYPO3
##################
htdocs/typo3/
htdocs/typo3conf/*
!htdocs/typo3conf/AdditionalConfiguration.php
!htdocs/typo3conf/LocalConfiguration.php

htdocs/typo3temp/
htdocs/uploads/

FIRST_INSTALL
ENABLE_INSTALL_TOOL

# Extension bsdist
!htdocs/fileadmin/bsdist
!htdocs/fileadmin/files
